In [10]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np
from pathlib import Path

### 2021 file load

In [21]:
# 2021 Files to Load
population_data_to_load_2021 = ("Resources/2021Census_G03_VIC_SAL.csv")
suburb_name_data_to_load_2021 = ("Resources/2021Census_geog_desc_1st_2nd_3rd_release.xlsx")
# Reference: https://www.abs.gov.au/statistics/people/population/regional-population/2022-23#data-downloads

In [24]:
# Read Population data into Pandas DataFrames
population_data_2021_df = pd.read_csv(population_data_to_load_2021)

# Read population and Suburb data into Pandas DataFrames and specifiy which worksheet number to be read in suburb file
sheet_name = 0
suburb_name_data_2021_df = pd.read_excel(suburb_name_data_to_load_2021, sheet_name = 5)
# Reference:https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [26]:
# Rename column in Population data for allow DataFrames to merge
population_data_2021_df= population_data_2021_df.rename(columns={"SAL_CODE_2021":"Census_Code_2021"})
population_data_2021_df.head()

,Census_Code_2021,Count_home_Census_Nt_0_14_yr,Count_hom_Census_Nt_15_24_yr,Count_hom_Census_Nt_25_34_yr,Count_hom_Census_Nt_35_44_yr,Count_hom_Census_Nt_45_54_yr,Count_hom_Census_Nt_55_64_yr,Count_hom_Census_Nt_65_74_yr,Count_hom_Census_Nt_75_84_yr,Count_hom_Census_Nt_85ov,...,Total_0_14_yr,Total_15_24_yr,Total_25_34_yr,Total_35_44_yr,Total_45_54_yr,Total_55_64_yr,Total_65_74_yr,Total_75_84_yr,Total_85ov,Total_Total
0,SAL20001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,SAL20002,705,816,3164,1707,852,645,473,238,92,...,720,843,3224,1750,885,662,487,244,97,8916
2,SAL20003,632,627,344,455,645,585,327,138,73,...,633,634,353,459,653,588,333,142,73,3880
3,SAL20004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,10
4,SAL20005,13,8,7,8,22,16,31,19,4,...,13,8,16,8,20,19,32,22,4,144

In [27]:
# Merge Population Data and Suburb Data DataFrames
population_and_suburb_merged_2021_df = pd.merge(population_data_2021_df, suburb_name_data_2021_df, how = "left", on=["Census_Code_2021", "Census_Code_2021"])

In [87]:
# Set Index to AGSS_Code_2021 and rename columns to meaningful headings
population_and_suburb_data_2021_df = population_and_suburb_merged_2021_df.set_index(["AGSS_Code_2021"])
population_and_suburb_data_2021_df = population_and_suburb_data_2021_df.rename(columns={"Total_Total":"Total_Population","Census_Name_2021":"Suburb_Name"})

In [90]:
# Create final Dataframe with only the required columns
population_and_suburb_2021_df = population_and_suburb_data_2021_df[["Suburb_Name","Total_Population","Area sqkm"]]
population_and_suburb_2021_final_df = pd.DataFrame(population_and_suburb_2021_df)
population_and_suburb_2021_final_df.head()

                      Suburb_Name  Total_Population  Area sqkm
AGSS_Code_2021
20001                    Abbeyard                 0   327.5008
20002           Abbotsford (Vic.)              8916     1.7405
20003                  Aberfeldie              3880     1.5515
20004                   Aberfeldy                10    10.8319
20005                     Acheron               144    72.6602

In [92]:
# Create list of required suburbs
City_of_Melbourne_Suburbs_2021 = population_and_suburb_2021_final_df[(population_and_suburb_2021_final_df["Suburb_Name"]=="East Melbourne")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="Parkville (Vic.)")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="North Melbourne")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="South Yarra")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="Southbank")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="Docklands")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="Carlton (Vic.)")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="West Melbourne")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="Kensington (Vic.)")|
(population_and_suburb_2021_final_df["Suburb_Name"]=="Melbourne")]

# Reference:https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html
# Reference: https://www.melbourne.vic.gov.au/about-melbourne/melbourne-profile/suburbs/Pages/suburbs.aspx

City_of_Melbourne_Suburbs_2021

                      Suburb_Name  Total_Population  Area sqkm
AGSS_Code_2021
20495              Carlton (Vic.)             15896     1.7728
20766                   Docklands             15547     3.1480
20830              East Melbourne              5358     1.8557
21327           Kensington (Vic.)             10545     2.1373
21640                   Melbourne             58262     6.5866
21966             North Melbourne             15040     2.3554
22038            Parkville (Vic.)              7756     3.9981
22314                 South Yarra             24609     3.5475
22315                   Southbank             22717     1.5640
22757              West Melbourne              7934     6.5822

In [94]:
# Create DataFrame for City of Melbourne suburbs
City_of_Melbourne_Suburbs_2021_df = pd.DataFrame(City_of_Melbourne_Suburbs_2021)
City_of_Melbourne_Suburbs_2021_df

                      Suburb_Name  Total_Population  Area sqkm
AGSS_Code_2021
20495              Carlton (Vic.)             15896     1.7728
20766                   Docklands             15547     3.1480
20830              East Melbourne              5358     1.8557
21327           Kensington (Vic.)             10545     2.1373
21640                   Melbourne             58262     6.5866
21966             North Melbourne             15040     2.3554
22038            Parkville (Vic.)              7756     3.9981
22314                 South Yarra             24609     3.5475
22315                   Southbank             22717     1.5640
22757              West Melbourne              7934     6.5822

In [97]:
# Add Census Year to the DataFrame:
year = ["2021","2021","2021","2021","2021","2021","2021","2021","2021","2021"]
City_of_Melbourne_Suburbs_2021_df["Census_Year"] = year
City_of_Melbourne_Suburbs_2021_df

                      Suburb_Name  Total_Population  Area sqkm Census_Year
AGSS_Code_2021
20495              Carlton (Vic.)             15896     1.7728        2021
20766                   Docklands             15547     3.1480        2021
20830              East Melbourne              5358     1.8557        2021
21327           Kensington (Vic.)             10545     2.1373        2021
21640                   Melbourne             58262     6.5866        2021
21966             North Melbourne             15040     2.3554        2021
22038            Parkville (Vic.)              7756     3.9981        2021
22314                 South Yarra             24609     3.5475        2021
22315                   Southbank             22717     1.5640        2021
22757              West Melbourne              7934     6.5822        2021

### 2016 file load

In [99]:
# 2016 Files to Load
population_data_to_load_2016 = ("Resources/2016Census_G03_VIC_SSC.csv")
suburb_name_data_to_load_2016 = ("Resources/2016Census_geog_desc_1st_and_2nd_release.xlsx")

In [101]:
# Read Population data into Pandas DataFrames
population_data_2016_df = pd.read_csv(population_data_to_load_2016)

# Read population and Suburb data into Pandas DataFrames and specifiy which worksheet number to be read in suburb file
sheet_name = 0
suburb_name_data_2016_df = pd.read_excel(suburb_name_data_to_load_2016, sheet_name = 5)
# Reference:https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [102]:
# Rename column in Population data for allow DataFrames to merge
population_data_2016_df= population_data_2016_df.rename(columns={"SSC_CODE_2016":"Census_Code_2016"})

In [103]:
# Merge Population Data and Suburb Data DataFrames
population_and_suburb_merged_2016_df = pd.merge(population_data_2016_df, suburb_name_data_2016_df, how = "left", on=["Census_Code_2016", "Census_Code_2016"])

In [104]:
# Set Index to ASGS_Code_2016 and rename columns to meaningful headings
population_and_suburb_data_2016_df = population_and_suburb_merged_2016_df.set_index(["ASGS_Code_2016"])
population_and_suburb_data_2016_df = population_and_suburb_data_2016_df.rename(columns={"Total_Total":"Total_Population","Census_Name_2016":"Suburb_Name"})

In [108]:
# Create final DataFrame with only the required columns
population_and_suburb_2016_df = population_and_suburb_data_2016_df[["Suburb_Name","Total_Population","Area sqkm"]]
population_and_suburb_2016_final_df = pd.DataFrame(population_and_suburb_2016_df)

In [110]:
# Create list of required suburbs
City_of_Melbourne_Suburbs_2016 = population_and_suburb_2016_final_df[(population_and_suburb_2016_final_df["Suburb_Name"]=="East Melbourne")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="Parkville (Vic.)")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="North Melbourne")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="South Yarra")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="Southbank")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="Docklands")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="Carlton (Vic.)")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="West Melbourne")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="Kensington (Vic.)")|
(population_and_suburb_2016_final_df["Suburb_Name"]=="Melbourne")]

# Reference:https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html
# Reference: https://www.melbourne.vic.gov.au/about-melbourne/melbourne-profile/suburbs/Pages/suburbs.aspx

City_of_Melbourne_Suburbs_2016

                      Suburb_Name  Total_Population  Area sqkm
ASGS_Code_2016
20492              Carlton (Vic.)             18829     1.7488
20760                   Docklands             12486     3.1479
20824              East Melbourne              6196     1.8557
21319           Kensington (Vic.)             10621     2.1306
21629                   Melbourne             60057     6.5045
21954             North Melbourne             15395     2.3619
22026            Parkville (Vic.)              9188     4.0492
22303                 South Yarra             25237     3.5476
22304                   Southbank             22397     1.5639
22743              West Melbourne              5588     6.5821

In [111]:
# Create DataFrame for City of Melbourne suburbs
City_of_Melbourne_Suburbs_2016_df = pd.DataFrame(City_of_Melbourne_Suburbs_2016)
City_of_Melbourne_Suburbs_2016_df

                      Suburb_Name  Total_Population  Area sqkm
ASGS_Code_2016
20492              Carlton (Vic.)             18829     1.7488
20760                   Docklands             12486     3.1479
20824              East Melbourne              6196     1.8557
21319           Kensington (Vic.)             10621     2.1306
21629                   Melbourne             60057     6.5045
21954             North Melbourne             15395     2.3619
22026            Parkville (Vic.)              9188     4.0492
22303                 South Yarra             25237     3.5476
22304                   Southbank             22397     1.5639
22743              West Melbourne              5588     6.5821

In [114]:
# Add Census Year to the DataFrame:
year = ["2016","2016","2016","2016","2016","2016","2016","2016","2016","2016"]
City_of_Melbourne_Suburbs_2016_df["Census_Year"] = year
City_of_Melbourne_Suburbs_2016_df

                      Suburb_Name  Total_Population  Area sqkm Census_Year
ASGS_Code_2016
20492              Carlton (Vic.)             18829     1.7488        2016
20760                   Docklands             12486     3.1479        2016
20824              East Melbourne              6196     1.8557        2016
21319           Kensington (Vic.)             10621     2.1306        2016
21629                   Melbourne             60057     6.5045        2016
21954             North Melbourne             15395     2.3619        2016
22026            Parkville (Vic.)              9188     4.0492        2016
22303                 South Yarra             25237     3.5476        2016
22304                   Southbank             22397     1.5639        2016
22743              West Melbourne              5588     6.5821        2016

### 2011 file load

In [116]:
# Files to Load
population_data_to_load_2011 = ("Resources/2011Census_B03_VIC_SSC_short.csv")
suburb_name_data_to_load_2011 = ("Resources/2011Census_geog_desc_1st_and_2nd_release.xlsx")

In [119]:
# Read Population data into Pandas DataFrames
population_data_2011_df = pd.read_csv(population_data_to_load_2011)

# Read population and Suburb data into Pandas DataFrames and specifiy which worksheet number to be read in suburb file
sheet_name = 0
suburb_name_data_2011_df = pd.read_excel(suburb_name_data_to_load_2011)
# Reference:https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [120]:
# Rename column in Population data for allow DataFrames to merge
population_data_2011_df= population_data_2011_df.rename(columns={"region_id":"Code"})

In [121]:
# Merge Population Data and Suburb Data DataFrames
population_and_suburb_merged_2011_df = pd.merge(population_data_2011_df, suburb_name_data_2011_df, how = "left", on=["Code", "Code"])

In [123]:
# Set Index to Level and rename columns to meaningful headings
population_and_suburb_data_2011_df = population_and_suburb_merged_2011_df.set_index(["Code"])
population_and_suburb_data_2011_df = population_and_suburb_data_2011_df.rename(columns={"Total_Total":"Total_Population","Label":"Suburb_Name"})

In [125]:
# Create final DataFrame with only the required columns
population_and_suburb_2011_df = population_and_suburb_data_2011_df[["Suburb_Name","Total_Population","Area sqkm"]]
population_and_suburb_2011_final_df = pd.DataFrame(population_and_suburb_2011_df)

In [128]:
# Create list of required suburbs
City_of_Melbourne_Suburbs_2011 = population_and_suburb_2011_final_df[(population_and_suburb_2011_final_df["Suburb_Name"]=="East Melbourne")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="Parkville (Vic.)")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="North Melbourne")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="South Yarra")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="Southbank")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="Docklands")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="Carlton (Vic.)")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="West Melbourne")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="Kensington (Vic.)")|
(population_and_suburb_2011_final_df["Suburb_Name"]=="Melbourne")]

# Reference:https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html
# Reference: https://www.melbourne.vic.gov.au/about-melbourne/melbourne-profile/suburbs/Pages/suburbs.aspx

City_of_Melbourne_Suburbs_2011

                Suburb_Name  Total_Population  Area sqkm
Code
SSC20259     Carlton (Vic.)             13742    1.69631
SSC20402          Docklands              6756    3.00192
SSC20434     East Melbourne              6073    1.39918
SSC20700  Kensington (Vic.)              9616    2.14699
SSC20867          Melbourne             38560    6.23214
SSC21030    North Melbourne             12134    2.38918
SSC21071   Parkville (Vic.)              7895    4.04870
SSC21240        South Yarra             19670    3.64949
SSC21241          Southbank             13832    1.26233
SSC21458     West Melbourne              3851    6.59269

In [130]:
# Create DataFrame for City of Melbourne suburbs
City_of_Melbourne_Suburbs_2011_df = pd.DataFrame(City_of_Melbourne_Suburbs_2011)
City_of_Melbourne_Suburbs_2011_df

                Suburb_Name  Total_Population  Area sqkm
Code
SSC20259     Carlton (Vic.)             13742    1.69631
SSC20402          Docklands              6756    3.00192
SSC20434     East Melbourne              6073    1.39918
SSC20700  Kensington (Vic.)              9616    2.14699
SSC20867          Melbourne             38560    6.23214
SSC21030    North Melbourne             12134    2.38918
SSC21071   Parkville (Vic.)              7895    4.04870
SSC21240        South Yarra             19670    3.64949
SSC21241          Southbank             13832    1.26233
SSC21458     West Melbourne              3851    6.59269

In [131]:
# Add Census Year to the DataFrame:
year = ["2011","2011","2011","2011","2011","2011","2011","2011","2011","2011"]
City_of_Melbourne_Suburbs_2011_df["Census_Year"] = year

In [31]:
City_of_Melbourne_Suburbs_2011_df

                Suburb_Name  Total_Population  Area sqkm Census_Year
Code
SSC20259     Carlton (Vic.)             13742    1.69631        2011
SSC20402          Docklands              6756    3.00192        2011
SSC20434     East Melbourne              6073    1.39918        2011
SSC20700  Kensington (Vic.)              9616    2.14699        2011
SSC20867          Melbourne             38560    6.23214        2011
SSC21030    North Melbourne             12134    2.38918        2011
SSC21071   Parkville (Vic.)              7895    4.04870        2011
SSC21240        South Yarra             19670    3.64949        2011
SSC21241          Southbank             13832    1.26233        2011
SSC21458     West Melbourne              3851    6.59269        2011

In [32]:
City_of_Melbourne_Suburbs_2011_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, SSC20259 to SSC21458
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Suburb_Name       10 non-null     object
 1   Total_Population  10 non-null     int64
 2   Area sqkm         10 non-null     float64
 3   Census_Year       10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes